<!--File upoad function integration-->

<!-- index.html or another template -->

{% extends 'naac_template/base1.html' %}

{% block page_title %}
   <h1><u> Bulk Upload Test</u></h1>
{% endblock page_title %}

{% load static %}

{% block main_content%}
    <style>
        .indented-section {
            padding-left: 4em;  /* Adjust the value as needed for the desired indentation */
        }
    </style>
    <section class = "indented-section">
        <div class = "center-button">
            
        </div>
    </section>
    <section class="indented-section">
        <div class="center-button">
            <h3>Welcome to the Student Admission System</h3>
            <p><a href="{% url 'upload_excel' %}">Upload Student Data</a></p>
            <p><a href="{% url 'student_list' %}">View Student List</a></p>
            </a>
        </div>
    </section>
{% endblock main_content%}