{% extends 'naac_template/base1.html' %}

{% block title %}File List{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block main_content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">File Upload</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'upload' %}">Upload File</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h2 class="mb-4">Uploaded Files</h2>
    <ul class="list-group">
        {% for file in files %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ file.file.url }}">{{ file.file.name }}</a>
                <span class="badge badge-primary badge-pill">{{ file.uploaded_at }}</span>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'upload' %}" class="btn btn-primary mt-3">Upload another file</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
