name: Build and deploy Python app to Azure Web App

on:
  push:
    branches: [ "dev" ]
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: app-accredit-backend-dev-centralindia    # Azure app name
  PYTHON_VERSION: '3.11'                                      # Python version

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'

      - name: Create and start virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip

      - name: Install dependencies
        run: |
          source venv/bin/activate
          pip install -r requirements.txt

      - name: Verify requirements.txt exists
        run: ls -l requirements.txt

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v3
        with:
          name: python-app
          path: |
            . 
            !venv/

  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: python-app
          path: .

      - name: List directory contents
        run: ls -R

      - name: Collect static files
        run: |
          python -m venv venv
          source venv/bin/activate
          python manage.py collectstatic --noinput

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZUREWEBAPP_PUBLISHPROFILE }}

      - name: Health check
        run: curl -f https://${{ steps.deploy-to-webapp.outputs.webapp-url }}
